{% extends 'base.html' %}
{% block title %}FlipKart|Carts{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
    <!--carts start here-->
    <div class="col-md-9">
        <div class="row">
            {% for x in allcarts %}
            <div class="col-md-4">
                <img src="{{x.productid.images.url}}" alt="" width="300px" height="400px" class="m-3">
            </div>
            <div class="col-md-5">
                <div class="row m-3">
                    <div class="card-header fw-bold">
                        Product Details
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{x.productid.productname}}</h5>
                        <p class="card-text text-success fw-bold">Special Price</p>
                        <p class="card-text">
                            <strong>{{x.productid.price}}/-</strong>
                            &nbsp;
                            <del>{{x.productid.price|add:x.productid.price}}/-</del>
                            <span class="text-success">50% off</span>
                        </p>
                        <p class="card-text">{{x.productid.description}}</p>
                        <p class="card-text fw-bold">Available Offers</p>
                        <ul>
                            <li>Bank OfferGet 10% off upto 50/- on first FlipKart UPI transaction on order of 200/- and above T&C apply</li>
                            <li>Bank Offer 5% CashBack on FlipKart Axis Bank Card T&C apply</li>
                            <li>Bank OfferFlat 750/- off on HDFC Bank Credit Card EMI Txns, Tenure: 6 months T&C apply</li>
                            <li>Partner OfferSign-up for FlipKart Pay Later & get Free Times Prime Benefits worth 20,000/-</li>
                        </ul>
                        <p class="card-text">Deliver by {{date}} |<span class="text-success">Free</span></p>
                        <p class="card-text">10 Days Return Policy</p>
                        <p>
                        <strong>QTY:</strong>
                        <a href="/updateqty/0/{{x.productid.productid}}"><button class="btn btn-danger">-</button></a>
                        <input type="number" value="{{x.qty}}" style="width: 30px;">
                        <a href="/updateqty/1/{{x.productid.productid}}"><button class="btn btn-success">+</button></a>
                        </p>

                        <a class="btn btn-warning" href="/payment">Make Payment</a>
                        <a class="btn btn-primary" href="/removecart/{{x.productid.productid}}">Remove Cart</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>        
    </div>
    <!--carts ends here-->
    
    <!-- total amount section-->
    <div class="col-md-3">
        <div class="row">
            <h3 class="btn-danger text-white">Total Amount Section</h3>
            <h5><strong>Total items: {{totalitems}}</strong></h5>
            <hr>
            <h5><strong>Total Amount: Rs.{{totalamount}}</strong></h5>
            {% if totalitems >= 1 %}
            <a href="/payment"><button class="btn btn-danger">Make Payment</button></a>
            {% else %}
            <button class="btn btn-danger" disabled>Make Payment</button>
            {% endif %}
        </div>        
    </div>
    <!-- total amount section-->
    </div>
</div>


{% endblock %}